@import "grid.css";
@import "normalize.css";

body {
    position: relative;
    margin: 0 auto;
    background-color: #63b3a1;
}

a {
    text-decoration: none;
    color:darkslategray;
    opacity: 0.8;
}

a:hover {
    color:black;
    opacity: 1;
}

.cart {
    position: absolute;
    right: 20px;
    align-self: center;
}

#cart_img {
    display: block;
    background: url(../images/cart.png) no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}

#cart {
    margin-left: 10px;
    background: #31ba31;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    border-radius: 25px;
}

/*Header*/
.header, #footer {
    text-align:center;
    background:lightblue;
    border-top: solid 1px blue;
    border-bottom: solid 1px blue;
    min-width: 440px;
}

/*Navigation*/
.navic {
    margin: 0 auto;
    max-width: 720px;
    min-width: 440px;
}

.navics {
    margin: 0 auto;
    max-width: 100%;
    margin-left:20px;
}

.nav_but {
    width: 118px;
    margin: 1px 1px;
    text-align: center;
}

.nav_but a {
    border: solid 1px black;
    border-radius: 3px;
    background:lightgrey;
    display: block;
}

.menu {
    min-width: 400px;
    margin: 0 auto;
}
.menu ul {
    text-align: center;
}

.menu li {
    display: inline-block;
}


/*Основной контент*/
.content {
    right: 8;
    max-width: 620px;
    min-width: 440px;
    border: gray;
    background-color: #ffffff;
    margin: 0 auto;
}

.content_position {
    position: relative;
    max-width: 620px;
    margin: 0 auto;
}

/*навигация в контенте*/
.content_navi {
    position: absolute;
    left: 0;
    min-width: 195px;
    max-width: 195px;
    height: 385px;
    background: lightgrey;
    border-bottom: solid 3px darkgrey;
    border-right: solid 3px grey;
    border-radius: 6px;
}

.content_navi h4 {
    background: darkgrey;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    height:30px;
    padding-top:10px;
    margin-top: 0; 
}

.content_navi ul {
    color: gray;
}

.content_navi li a {
    text-align: left;
}

/*товары на главной*/
.content_item {
    position: absolute;
    left: 200;
    top: 0;
    max-width: 400px;
}

small {
    font-size: x-small;
}

.items {
    background: #e0f0f0;
    border-radius: 6px;
    border:solid 2px lightgrey;
    border-bottom:solid 2px darkgrey;
    border-right:solid 2px grey;
}

.sizer {
    width:196px;
    margin: 2px;
}

.content_item a {
    display: block;
    text-align: center;
}

.listing {
    display: flex;
    justify-content: center;
}

/*каталог*/
.catalog {
    font-size: 10pt;
}

.catalog p {
    width: 70px;
}

.title-price {
    min-width: 170px;
}

#back0 {
    background: #d6d6d66b;
}

#reset {
    margin-left:450px;
}

/*корзина*/
.cart-count{
    min-width: 70px;
}

.cart-price{
    min-width: 125px;
}

/*карточка товара*/
.item p {
    width: 400px;
    margin: 0 auto;
}

.item img {
   display: block;
    margin: 0 auto;
}

.item input, #buy, .add_cart>button {
    display: block;
    margin: 0 auto;
    width:100px;
    font-weight:bold;
    color:darkslategrey;
    border: solid 2px grey;
}

.item input:hover, #buy:hover, .add_cart:hover>button {
    color:black;
    cursor: pointer;
}

/*личный кабинет*/
.lk_form {
    margin: 0 auto;
    line-height: 1.35em;
}

#lk_info, .text-center {
    text-align: center;
}

#info {
    resize: none;
}

.fix_col {
    min-width: 170px;
}



/*контакты*/
.center {
    width: 50%;
    margin: 0 auto;
}

.left_block {
    float: left;
    width: 50%;
}

.left_block img {
    width: 20px;
}

.right_block img {
    width:50%;
    border:solid 2px grey;
}

.right_block {
    width:400px;
    height:300px;
}

.maps {
    width: 400px;
    margin: 0 auto;
}

.button_flex a{
    height: 200px;
    width: 50px;
    text-align: center;
    text-shadow: 2px 2px 2px red;
    font-size: 20px;
    padding-top: 3px;
    position: fixed;
    top: 50;
    right: 50;
    background: lightgreen;
    border: 2px solid red;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 2px 2px 3px 2px black;
    writing-mode: tb-rl;
}

/*Flex Главная страница*/

/*Header*/
.flex_header,
.flex_footer {
    min-width: 600px;
    background: lightblue;
    border-top: solid 1px blue;
    border-bottom: solid 1px blue;
}

.flex_footer {
    position: absolute;
    padding: 10px 0;
    height:20px;
    bottom: 0;
    right: 0;
    left: 0;
}

.flex_width {
    max-width: 100%;
    margin: 0 auto;
}

.row_container {
    display: flex;
}

.center_flex {
    justify-content: center;
}

.align_center_flex {
    align-self: center;
}

.direction_col {
    display: flex;
    flex-direction: column;
}

.direction_row {
    flex-direction: row;
}

.flex_navic {
        margin: 0 auto;
        max-width: 900px;
}

.flex_nav_but a{
    flex: 5;
    height: 23px;
    line-height: 22px;
    margin: 1px 1px;
    text-align: center;
    border: solid 1px black;
    border-radius: 3px;
    background:lightgrey;
}

.flex_nav_but {
    flex: 5;
    margin: 2px 1px;
    display: flex;
}

.flex4 {
    flex:4;
}

.flex3 {
    flex:3;
}

.flex2 {
    flex:2;
}

.flex1 {
    flex:1;
}

/*навигация в контенте*/
.flex_content {
        max-width:900px;
        margin: 0 auto;
        border: gray;
}

.flex_content_navi {
    min-width: 195px;
    max-width: 300px;
    height: 405px;
    background: lightgrey;
    border-bottom: solid 3px darkgrey;
    border-right: solid 3px grey;
    border-radius: 6px;
}

.flex_content_navi h4 {
    background: darkgrey;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    text-align: center;
    height:30px;
    padding-top:10px;
    margin-top: 0; 
}

.flex_content_navi li button {
    background: none;
    border: none;
    text-align: left;
    color: darkslategray;
    opacity: 0.8;
    font-size: 1em;
    cursor: pointer;
}

.flex_content_navi li button:hover{
    
    color: black;
    outline: none;
}

.sizer_item {
    min-width: 200px;
    max-width: 300px;
    min-height: 198px;
    margin: 2px;
}

.items img {
    display: block;
    margin: 0 auto;
}

@media (max-width:760px) {
    .flex_header,
    .flex_footer {
        min-width: 260px;
        background: lightblue;
        border-top: solid 1px blue;
        border-bottom: solid 1px blue;
    }

    .flex2.row_container {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
    }

    .flex_navic.direction_row {
        margin: 0 auto;
        width: 250px;
        height: 130px;
        flex-direction: column;
    }
    
    .flex_content {
        max-width: 600px;
        margin: 0 auto;
        border: gray;
    }
    
    .left_nav {
        
        display: none;
    }

}

@media (max-width:432px) {
    .flex_content {
    max-width: 300px;
    margin: 0 auto;
    border: gray;
    }
}