@import "grid.css";
@import "normalize.css";

body {
    text-align: center;
    position: relative;
    margin: 0 auto;
}

.header,
.footer {
    background: lightblue;
    border-top: solid 1px blue;
    border-bottom: solid 1px blue;
}

.footer {
    position: absolute;
    padding: 10px 0;
    height:20px;
    bottom: 0;
    right: 0;
    left: 0;
}